<h1>View Available Albums</h1>

A listing of all the albums currently in The Emkay Library collection.<br><br>
        <table>
            <tr>
                <th>Album_ID</th>
                <th>Artist_ID</th>
                <th>Artist First Name</th>
                <th>Artist Last Name</th>
                <th>Title</th>
            </tr>
            <tr>
                <td>1</td>
                <td>1</td>
                <td>Leonard</td>
                <td>Cohen</td>
                <td>Songs of Leonard Cohen</td>
            </tr>
            <tr>
                <td>2</td>
                <td>1</td>
                <td>Leonard</td>
                <td>Cohen</td>
                <td>Songs from a Room</td>
            </tr>
            <tr>
                <td>3</td>
                <td>1</td>
                <td>Leonard</td>
                <td>Cohen</td>
                <td>Songs of Love and Hate</td>
            </tr>
            <tr>
                <td>4</td>
                <td>1</td>
                <td>Leonard</td>
                <td>Cohen</td>
                <td>New Skin for the Old Ceremony</td>
            </tr>
            <tr>
                <td>5</td>
                <td>1</td>
                <td>Leonard</td>
                <td>Cohen</td>
                <td>Death of a Ladies' Man</td>
            </tr>
            <tr>
                <td>6</td>
                <td>1</td>
                <td>Leonard</td>
                <td>Cohen</td>
                <td>Recent Songs</td>
            </tr>
            <tr>
                <td>7</td>
                <td>1</td>
                <td>Leonard</td>
                <td>Cohen</td>
                <td>Various Positions</td>
            </tr>
            <tr>
                <td>8</td>
                <td>1</td>
                <td>Leonard</td>
                <td>Cohen</td>
                <td>I'm Your Man</td>
            </tr>
        </table><br>

<h2>Search Albums</h2>
<form>
  <label for="album_title">
    <span>Title:</span>
  </label>
  <input type="text" id="album_title" name="album_title">
  <button type="submit">Search</button>
</form>

<h2>Update Albums</h2>
<p>Complete each form entry below to add, edit, or delete an item. If adding a
  new item, you do not need to enter an ID - one will be created for you. </p>
<form>
  <fieldset>
    <legend>Select Action</legend>
    <label for="add">
      <input type = "radio" name="action" value="add">Add
    </label>
    <label for="edit">
      <input type= "radio" name="action" value="edit">Edit
    </label>
    <label for="delete">
      <input type="radio" name="action" value="delete">Delete
    </label>
  </fieldset>

<section>
  <p>
     <label for="album_id">
       <span>ID:</span>
     </label>
     <input type="text" id="name" name="album_id">
   </p>
   <em>(Leave empty if adding a new album)</em>
 </section>
   <p>
      <label for="artist">
        <span>Artist ID: </span>
      </label>
      <input type="text" id="artist_id" name="artist_id">
    </p>
    <p>
       <label for="title">
         <span>Title: </span>
       </label>
       <input type="text" id="title" name="title">
     </p>
  <button type="submit">Submit</button>
</form>
