<h1>View Available Albums</h1>

A listing of all the albums currently in The Emkay Library collection.<br><br>
<table id="albums_table">
    <thead>
        <tr>
                <th>Album_ID</th>
                <th>Artist_ID</th>
                <th>Artist First Name</th>
                <th>Artist Last Name</th>
                <th>Title</th>
            </tr>
</thead>
    <tbody>
      {{#each artists}}
      <td>{{Artist_ID}}</td>
      <td>{{First_name}}</td>
      <td>{{Last_name}}</td>
      <td><button>Delete</button></td>
      <td><a href="/">Update</a></td>
    </tbody>
    {{/each}}
</table>
        <br>

<h2>Search Albums</h2>
<form>
  <label for="album_title">
    <span>Title:</span>
  </label>
  <input type="text" id="album_title" name="album_title">
  <button type="submit">Search</button>
</form>

<h2>Add a New Album</h2>
<p>Complete the form below to add a new album.</p>
<form id="addAlbum" action="/albums" method="post">
   <p>
      <label for="artist">
        <span>Artist ID: </span>
      </label>
      <input type="text" name="Artist_ID">
    </p>
    <p>
       <label for="title">
         <span>Title: </span>
       </label>
       <input type="text" name="Title">
     </p>
  <button type="submit" value="Submit">Submit</button>
</form>
