<h1>View Available Artists</h1>
A listing of all the artists currently in The Emkay Library collection.<br><br>
<table id="artists_table">
    <thead>
        <tr>
            <th>Artist ID</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </thead>
    <tbody>
      {{#each artists}}
      <td>{{Artist_ID}}</td>
      <td>{{First_name}}</td>
      <td>{{Last_name}}</td>
      <td><button>Delete</button></td>
      <td><a href="/">Update</a></td>
    </tbody>
    {{/each}}
</table>

<br>

<h2>Search Artists</h2>
<form>
  <label for="last_name">
    <span>Last Name:</span>
  </label>
  <input type="text" id="Last_name" name="Last_name">
  <button type="submit">Search</button>
</form>

<!--
  Add a New Artist Form
-->
<h2>Add a New Artist</h2>
<p>Complete each form entry below to add a member.</p>
<form id="addArtist" action="/artists" method="post">
<section>
   <p>
      <label for="artist">
        <span>First Name: </span>
      </label>
      <input type="text" name="First_name">
    </p>
    <p>
       <label for="title">
         <span>Last Name: </span>
       </label>
       <input type="text" name="Last_name">
     </p>
  <button type="submit" value="Submit">Submit</button>
  </section>
</form>
