<h1>View Available Artists</h1>
A listing of all the artists currently in The Emkay Library collection.<br><br>
        <table>
            <tr>
                <th>Artist ID</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Leonard</td>
                <td>Cohen</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Jimmy</td>
                <td>Buffett</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Patti</td>
                <td>Smith</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Akira</td>
                <td>Kurosawa</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Sydney</td>
                <td>Lumet</td>
            </tr>
            <tr>
                <td>6</td>
                <td>James</td>
                <td>Gunn</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Anna</td>
                <td>Sewell</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Emily</td>
                <td>Brontë</td>
            </tr>
            <tr>
                <td>9</td>
                <td>Kinka</td>
                <td>Usher</td>
            </tr>
            <tr>
                <td>10</td>
                <td>Eric</td>
                <td>Idle</td>
            </tr>
        </table><br>
<h2>Update Artists</h2>
<form>
  <fieldset>
    <legend>Select Action</legend>
    <label for="add">
      <input type = "radio" name="action" value="add">Add
    </label>
    <label for="edit">
      <input type= "radio" name="action" value="edit">Edit
    </label>
    <label for="delete">
      <input type="radio" name="action" value="delete">Delete
    </label>
  </fieldset>

<section>
  <p>
     <label for="artist_id">
       <span>ID:</span>
     </label>
     <input type="text" id="name" name="artist_id">
   </p>
   <em>(Leave empty if adding a new artist)</em>
 </section>
   <p>
      <label for="artist">
        <span>First Name: </span>
      </label>
      <input type="text" id="artist_id" name="artist_id">
    </p>
    <p>
       <label for="title">
         <span>Last Name: </span>
       </label>
       <input type="text" id="title" name="title">
     </p>
  <button type="submit">Submit</button>
</form>
