A listing of all the books currently in The Emkay Library collection.<br><br>
        <table>
            <tr>
                <th>Book_ID</th>
                <th>Artist_ID</th>
                <th>Title</th>
            </tr>
            <tr>
                <td>1</td>
                <td>1</td>
                <td>The Favorite Game</td>
            </tr>
            <tr>
                <td>2</td>
                <td>1</td>
                <td>Beautiful Losers</td>
            </tr>
            <tr>
                <td>3</td>
                <td>1</td>
                <td>Let Us Compare Mythologies</td>
            </tr>
            <tr>
                <td>4</td>
                <td>1</td>
                <td>The Spice-Box of Earth</td>
            </tr>
            <tr>
                <td>5</td>
                <td>2</td>
                <td>Tales from Margaritaville</td>
            </tr>
            <tr>
                <td>6</td>
                <td>2</td>
                <td>Where is Joe Merchant?</td>
            </tr>
            <tr>
                <td>7</td>
                <td>2</td>
                <td>A Pirate Looks at Fifty</td>
            </tr>
            <tr>
                <td>8</td>
                <td>2</td>
                <td>A Salty Piece of Land</td>
            </tr>
        </table><br>
<h2>Update Books</h2>
<form>
  <fieldset>
    <legend>Select Action</legend>
    <label for="add">
      <input type = "radio" name="action" value="add">Add
    </label>
    <label for="edit">
      <input type= "radio" name="action" value="edit">Edit
    </label>
    <label for="delete">
      <input type="radio" name="action" value="delete">Delete
    </label>
  </fieldset>

<section>
  <p>
     <label for="book_id">
       <span>ID:</span>
     </label>
     <input type="text" id="name" name="book_id">
   </p>
   <em>(Leave empty if adding a new book)</em>
 </section>
   <p>
      <label for="artist">
        <span>Artist ID: </span>
      </label>
      <input type="text" id="artist_id" name="artist_id">
    </p>
    <p>
       <label for="title">
         <span>Title: </span>
       </label>
       <input type="text" id="title" name="title">
     </p>
  <button type="submit">Submit</button>
</form>
