<h1>Welcome to the Emkay Library Database</h1>
<h2>Overview</h2>
<p>This database manages the Emkay Library’s collection of entertainment,
  including its artists, patrons, and item rentals. Using this database, you can
  checkout or return items, or make changes to the database including: adding,
  editing, or deleting items and library members.</p>
<h3>How to Use this Database</h3>
<p>Use the navigation above or below to view and update available items and
  library members. When you are ready to checkout or return items, select the
  checkout button in the top navigation.</p>

<h2>View or Update Items</h2>
<ul>
  <li><a href = "/albums">Albums</a></li>
  <li><a href = "/books">Books</a></li>
  <li><a href = "/movies">Movies</a></li>
</ul>

<h2>View or Update Members</h2>
<ul>
<li><a href = "/artists">Artists</a></li>
<li><a href = "/patrons">Patrons</a></li>
</ul>

<h2>Checkouts</h2>
<ul>
  <li><a href = "/patrons_albums">View Album Checkouts</a></li>
  <li><a href = "/patrons_books">View Book Checkouts</a></li>
  <li><a href = "/patrons_movies">View Movie Checkouts</a></li>
</ul>
