        A listing of all the movies currently in The Emkay Library collection.<br><br>
        <table>
            <tr>
                <th>Movie ID</th>
                <th>Artist ID</th>
                <th>Title</th>
            </tr>
            <tr>
                <td>1</td>
                <td>10</td>
                <td>Ella Enchanted</td>
            </tr>
            <tr>
                <td>2</td>
                <td>10</td>
                <td>An American Crime</td>
            </tr>
            <tr>
                <td>3</td>
                <td>6</td>
                <td>Guardians of the Galaxy</td>
            </tr>
            <tr>
                <td>4</td>
                <td>6</td>
                <td>Guardians of the Galaxy 2</td>
            </tr>
            <tr>
                <td>5</td>
                <td>6</td>
                <td>Super</td>
            </tr>
            <tr>
                <td>6</td>
                <td>6</td>
                <td>Slither</td>
            </tr>
        </table><br>
        <form action="/action_page.php">
            <label for="artist_id"><b>Artist ID:</b></label>
            <input type="text" id="artist_id" name="artist_id" value="artist_id"><br>
            <label for="mat_title"><b>Title:</b></label>
            <input type="text" id="mat_title" name="mat_title" value="mat_title"><br>
            <input type="submit" value="Add Movie">
          </form> <br><br>
          <form action="/action_page.php">
            <label for="artist_id"><b>Artist ID:</b></label>
            <input type="text" id="artist_id" name="artist_id" value="artist_id"><br>
            <label for="mat_title"><b>Title:</b></label>
            <input type="text" id="mat_title" name="mat_title" value="mat_title"><br>
            <input type="submit" value="Delete Movie">
          </form> <br>
