<h1>View Currently Checked-Out Movies</h1>

<table>
<thead>
    <tr>
    <th>Patron_ID</th>
    <th>Movie_ID</th>
  </tr>
        </thead>
    <tbody>
      {{#each movies}}
      <td>{{Patron_ID}}</td>
      <td>{{Book_ID}}</td>

    </tbody>
    {{/each}}
</table>
