<h1>View Currently Checked-Out Albums</h1>

A listing of all the albums currently checked out from The Emkay Library collection.<br><br>
<table id="albums_checkouts_table">
    <thead>
        <tr>
                <th>Album_ID</th>
                <th>Patron_ID</th>
            </tr>
    </thead>
    <tbody>
      {{#each albums}}
      <td>{{Album_ID}}</td>
      <td>{{Patron_ID}}</td>
    </tbody>
    {{/each}}
</table>
        <br>
