<h1>View Currently Checked-Out Albums</h1>

<table id="patrons_albums_table">
<thead>
  <tr>
    <th>Patron_ID</th>
    <th>Album_ID</th>
    <th>Patron First Name</th>
    <th>Patron Last Name</th>
    <th>Album Title</th>
  </tr>
      </thead>
    <tbody>
      {{#each albums}}
      <td>{{Patron_ID}}</td>
      <td>{{Album_ID}}</td>
      <td>{{First_name}}</td>
      <td>{{Last_name}}</td>
      <td><button>Delete</button></td>
      <td><a href="/">Update</a></td>
    </tbody>
    {{/each}}
</table>
