<h1>View Currently Checked-Out Albums</h1>

<table>
  <tr>
    <th>Patron_ID</th>
    <th>Album_ID</th>
  </tr>
  <tr>
    <td>1</td>
    <td>2</td>
  </tr>
  <tr>
    <td>1</td>
    <td>3</td>
  </tr>
  <tr>
    <td>3</td>
    <td>1</td>
  </tr>
</table>

<h2>Update Checkouts</h2>
<form>
  <fieldset>
    <legend>Select Action</legend>
    <label for="add">
      <input type = "radio" name="action" value="add">Add
    </label>
    <label for="edit">
      <input type= "radio" name="action" value="edit">Edit
    </label>
    <label for="delete">
      <input type="radio" name="action" value="delete">Delete
    </label>
  </fieldset>

<section>
  <p>
     <label for="patron_id">
       <span>ID:</span>
     </label>
     <input type="text" id="name" name="patron_id">
   </p>
 </section>
   <p>
      <label for="album_id">
        <span>First Name: </span>
      </label>
      <input type="text" id="album_id" name="alboum_id">
    </p>
 
  <button type="submit">Submit</button>
</form>

