<h1>Update {{movie.Title}}</h1>

<p>To update this book, enter all the correct information in the form below.</p>
<form id="update-movies" action="/movies" method="post">
<section>
   <p>
      <label for="artist_id">
        <span>Artist ID: </span>
      </label>
      <input type="text" name="Artist_ID" value="{{movie.Artist_ID}}">
    </p>
    <p>
         <span>Title: </span> <input type="text" name="Title" value="{{movie.Title}}">
       </p>
  <button type="button" onclick="updateMovie({{movie.Movie_ID}})">Update</button>
  </section>
</form>
