body {
  font-family: "Roboto", sans-serif;
  color: #000000;
  background-color: #e4f5f7;

}


table, th, td {
  border: 1px solid black;
  text-align: center;
}


.form-all {
border: medium solid black;
}
